@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'Kunstler';
  src: url("../fonts/KunstlerschreibschrftDOT-Md.eot");
  src: local("☺"), url("../fonts/KunstlerschreibschrftDOT-Md.woff") format("woff"), url("../fonts/KunstlerschreibschrftDOT-Md.ttf") format("truetype"), url("../fonts/KunstlerschreibschrftDOT-Md.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("../fonts/BrandonGrotesque-BoldItalic.woff2") format("woff2"), url("../fonts/BrandonGrotesque-BoldItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Orator Std";
  src: url("../fonts/OratorStd.woff2") format("woff2"), url("../fonts/OratorStd.woff") format("woff"), url("../fonts/OratorStd.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lombardina';
  src: url("../fonts/LombardinaInitialOne.eot");
  src: url("../fonts/LombardinaInitialOne.eot?#iefix") format("embedded-opentype"), url("../fonts/LombardinaInitialOne.woff2") format("woff2"), url("../fonts/LombardinaInitialOne.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*Основные стили*/
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrapper {
  max-height: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 150px;
  position: fixed;
  z-index: 100;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(238, 239, 240, 0.95);
  padding: 30px 50px;
}

@media (max-width: 520px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    padding: 0;
  }
}

.header__logo {
  max-width: 200px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  -webkit-box-shadow: 5px 5px 15px 10px #292929;
          box-shadow: 5px 5px 15px 10px #292929;
  border-radius: 10px;
  background-color: rgba(179, 176, 176, 0.515);
}

@media (max-width: 425px) {
  .header__logo {
    max-width: 100%;
  }
  .header__logo img {
    border-radius: 0px;
  }
}

.header__logo img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__menu {
  padding: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

@media (max-width: 520px) {
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .menu-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 520px) {
  .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0px 0px 0px;
  }
}

.menu-list li {
  margin: 0px 20px 20px 0px;
}

.menu-link {
  display: block;
  font-family: 'Lombardina';
  padding: 0px 20px 0px 0px;
  color: #242323;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 32px;
  text-shadow: 10px 10px 10px #000;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

@media (max-width: 768px) {
  .menu-link {
    padding: 0px 0px 10px 0px;
  }
}

.menu-link:hover {
  display: block;
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

.parallax {
  position: relative;
  height: 100%;
}

.parallax__montain {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.parallax__montain_1 {
  background: url("../img/m_1.png") 0 0/cover no-repeat;
}

.parallax__montain_2 {
  z-index: 1;
  background: url("../img/m_2.png") bottom right/45% no-repeat;
}

.parallax__montain_3 {
  z-index: 1;
  background: url("../img/m_3.png") bottom left/100% no-repeat;
}

.parallax__fog {
  background: url("../img/fog_1.png") bottom/100% no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.content {
  position: relative;
}

.content__body {
  max-width: 870px;
  margin: 0px auto;
}

.content__header {
  text-align: center;
  margin-bottom: 20px;
  padding: 0px 20px;
}

.content__header img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 250px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

@media (max-width: 425px) {
  .content__header img {
    margin-bottom: 0px;
  }
}

.content__title {
  font-size: 200px;
}

.content__subtitle {
  font-family: 'Kunstler';
  font-size: 120px;
  text-align: center;
}

@media (max-width: 425px) {
  .content__subtitle {
    font-size: 50px;
  }
}

@media (max-width: 325px) {
  .content__subtitle {
    font-size: 44px;
  }
}

.content__article {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 25px;
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
  border-radius: 50px;
}

@media (max-width: 425px) {
  .content__article {
    border-radius: 0px;
  }
}

.content__text {
  text-align: center;
  width: 80%;
  margin: 0px auto;
  letter-spacing: 1.2px;
  font-family: "Orator Std", sans-serif;
  text-shadow: 12px 2px 12px black;
  text-align: justify;
}

@media (max-width: 425px) {
  .content__text {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .content__text {
    font-family: "Orator Std", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1;
  }
}

.content__text p:first-child {
  width: 60%;
  margin: 0px auto;
  padding-bottom: 40px;
}

@media (max-width: 425px) {
  .content__text p:first-child {
    width: 100%;
  }
}

.content__article p {
  margin-bottom: 40px;
}

.video__item {
  position: relative;
  z-index: 10;
}

.album__cover {
  position: relative;
  padding: 0px 0px 100% 0px;
}

.album__cover img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.audio__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.audio__item {
  margin: 50px 0px;
  position: relative;
  z-index: 10;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
}
